<!-- This code snippet is a mix of HTML and AngularJS expressions. Here's what each part is doing: -->
<h1>{{ "learn - angular".toUpperCase() }}</h1>
<hr />
<div>
  <h1>What is Angular?</h1>
  <p style="font-size: larger">{{ ang_defn }}</p>
</div>
<hr />
<h1>{{ topic }}</h1>
<p style="font-size: larger">{{ definition }}</p>
<h3>Examples:</h3>
<h2>Addition : {{ addition_example }} => {{ 20 + 10 }}</h2>

<h2>
  Change to Uppercase: {{ uppercase_example2 }} => {{ "text".toUpperCase() }}
</h2>
<hr />
<br />
<!-- Limitations -->
<!-- <h1>{{user1=2000}}</h1> -->

<h1>What is Angular CLI</h1>
<h3>{{ angular_cli }}</h3>
