* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
  padding: 20px;
  font-size: small;
  border-radius: 10px;
  border: 1px solid black;
}

.input {
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid lightblue;
  margin-top: 20px;
}
